.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-arrow{
    position: relative;
    left: 10px;
    top:-80px
}

.right-arrow{
    position: relative;
    right: 15px;
    top:-80px
}
.btn button{
    border-radius: 50%;
}
.btn button:hover,.left-arrow:hover,.right-arrow:hover{
    color: black;
    background: orange;
}
.current{
    color: aliceblue;
    background-color: red;
} 

